* {
  margin: 0;
  padding: 0; }

body {
  background: #222;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #fff; }

p {
  font-size: 1.2rem;
  margin-top: 24px; }

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #fff; }

.menu:hover {
  cursor: pointer; }

.line {
  position: absolute;
  width: 28px;
  height: 1px;
  background: #fff;
  right: 8px;
  transition: all 0.2s; }

.line1 {
  top: 20px; }

.line2 {
  top: 24px; }

.line3 {
  top: 28px; }

.clicked {
  display: none; }

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  transition: all 0.2s; }
  nav .logo {
    padding: 20px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px; }
    nav .logo a {
      color: #777; }
  nav ul {
    list-style: none; }
    nav ul li {
      padding: 20px; }
      nav ul li a::after {
        content: "";
        width: 0%;
        height: 1px;
        transition: 0.2s;
        background: #fff;
        display: block; }
      nav ul li a:hover::after {
        content: "";
        width: 100%;
        height: 1px;
        background: #fff; }

.cross .line1 {
  transform: rotate(45deg);
  transform-origin: center;
  top: 28px; }

.cross .line2 {
  display: none; }

.cross .line3 {
  transform: rotate(-45deg);
  transform-origin: center; }

@media (min-width: 600px) {
  nav {
    display: flex; }
    nav .logo {
      flex: 1; }
    nav ul {
      flex: -1;
      display: flex; }
  .menu {
    display: none; }
  .clicked {
    display: flex; } }

@keyframes animateMenu {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

header {
  margin-top: 320px;
  text-align: center;
  height: 100vh;
  box-sizing: border-box; }
  header h1 {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 2.8rem; }

.wrapper {
  width: 900px;
  margin: 0 auto; }
