$black: #000;
$grey:#ddd;
$greyish:#eee;

body{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background: url('../image/img.jpg');
    background-size: cover;
     
}

.bg-dark{
    background: black!important;
}

// .navbar-brand{
//     font-size: 1.12rem;
// }
// .navbar-dark .navbar-brand{
//     color: $grey;
// }

// 
nav{
    .nav-link::after{ 
        content:"";
        display:block;
        width:0%;
        height:1px;
        background: none;
        transition:all 0.2s; 
    }
    .nav-link:hover::after{
        content:"";
        display:block;
        width:100%;
        height:1px;
        background: white;
    }
}

header{
    // position:relative;
    width:100%;
    height:350px;
    background: black;
    h1{
        position:relative;
        text-align: center;
        top: 50%;
        color: white;
        top:50%;
        transform:translateY(-50%);
        font-size:4rem;
        font-weight:100;
    }

    .join-button{
        position: relative;
        top:36%;
        text-align: center;
        .join{
            background: none;
            border: 1px solid white;
            color: white;
            margin:48px;
            padding: 6px 36px; 
            text-transform: uppercase;
            display: inline-block;
            font-weight: 500;
            transition:all 0.2s;
        }
        .join, .join:link, .join:visited, .join:hover, .join:active{
            text-decoration: none;
      
        }
        .join:hover{
            color: black;
            border: 1px solid black;
            background: white;
        }
        a:active{
            transform:translateY(5%);
        }
    }
} 

.description{
    text-align: center;
    margin-top:120px;    
    margin-bottom:120px;
    h2{
        color:$greyish;
        font-weight: 300;
        border-bottom: 1px solid #222;
        margin-bottom: 28px;
    } 
    p{
        color:$grey;   
    }
}
//         

footer{
    background: black;
    box-sizing: border-box;
    padding: 20px;
    ul{
        margin: 0;
        li{
            text-decoration: none;
            list-style: none;
            a, a:link, a:visited,a:hover,a:active{
                color:#777;
            }
        }
    }
    .footer-info{
        margin-top:48px; 
        text-align: center;
    }
}     